:root {
   --background-color: #fff;
   --color: #000;
   --button-color: #f0f0f0;
   --button-hover-color: #e0e0e0;
   --equal-button: #4caf50;
   --equal-hover: #45a049;
   --clear-button: #000000df;
   --clear-color: #fff;
}

.dark-theme {
   --background-color: #000004;
   --color: #fff;
   --button-color: #000004;
   --button-hover-color: #000000;
   --equal-button: #ff9933;
   --equal-hover: #cc6600;
   --clear-button: ##fffff0;
   --clear-color: #000;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: --background-color;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.calculator {
   background-color: --background-color;
   border-radius: 10px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   width: 300px;
   padding: 20px;
}

#display {
   background-color: --button-color;
   color: --color;
   font-size: 2em;
   text-align: right;
   padding: 10px;
   width: 300px;
   border-radius: 5px;
   margin-bottom: 10px;
   cursor: pointer;
   border-radius-top: 10px;
   border-radius-bottom: 10px;
   overflow-y: auto;
   scrollbar-width: thin;
   scrollbar-gutter: stable both-edges;
}

.buttons {
   display: flex;
   gap: 10px;
   text-align: center;
}

.numbers {
   display: inline-block;
   float: left;
   flex: 1;
}

.operators {
   display: flex;
   float: right;
   flex: 1;
   flex-direction: row-reverse;
}

.btn {
   background-color: --button-color;
   border: none;
   padding: 20px;
   font-size: 1.2em;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.2s;
   text-align: center;
   width: 60px;
   height: 60px;
   margin-bottom: 4px;
}

.btn:hover .btn:pressed{
   background-color: --button-hover-color;
}

.clear {
   background-color: --clear-button;
   color: --clear-color;
   transition: background-color 0.2s ease-in-out;
}

.clear:hover .clear:pressed{
   background-color: #000000;
}

.equal {
   grid-column: span 2;
   background-color: --equal-button;
   color: #fff;
}

.equal:hover  .equal:pressed{
   background-color: --equal-hover;
}
